

.js-form-item.form-item.js-form-type-select.form-type--select.js-form-item-choose-month-of-reporting.form-item--choose-month-of-reporting {
  float: left;
  padding-right: 20px;
}

.js-form-item.form-item.js-form-type-select.form-type--select.js-form-item-choose-year-of-reporting.form-item--choose-year-of-reporting {
  float: left;
  padding-right: 20px;
  margin-top: 0;
}

.js-form-item.form-item.js-form-type-file.form-type--file.js-form-item-files-file-upload.form-item--files-file-upload {
  float: left;
  padding-right: 20px;
  margin-top: 0;
}

